* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0 20px;
}

.title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo img {
    width: 80px;
}

.form {
    width: 100%;
}

.form .item {
    display: block;
    margin: 10px 0;
    padding: 10px 0;
}

.form .item label {
    font-size: 14px;
}

.form .item input {
    display: block;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

.form .item .err {
    display: none;
    color: red;
    font-size: 13px;
    margin-top: 3px;
}

.form .item .button {
    background-color: #2BB7B3;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 40px;
    display: block;
}

.result_message {
    text-align: center;
    display: none;
    margin-top: 30px;
}

.result_message .icon {
    font-size: 40px;
}

.result_message .message {
    color: darkgrey;
    font-size: 18px;
}

.success_message .icon {
    color: green;
}



.error_message .icon {
    color: red;
}
