block content
    h1 Goggle test

    div
        h3 Click below link to test
        a(class='button' href='/dev/auth/google') Sign In with Google (Dev)
        br
        br
        br
        a(class='button' href='/prod/auth/google') Sign In with Google (Prod)

